.category-btn{
    display: block;
    width: 150px;
    font-weight: bold;
    background: transparent;
    border-radius: 6px;
    border-color: #cccccc;
    outline: none;
    margin-bottom: 5px;
}