.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #cccccc;
}
.nav-block{
    margin-top: 30px;
    margin-right: 15px;
}
.nav-item{
    border: 2px solid #cccccc;
    border-radius: 6px;
    padding: 5px 9px;
    text-decoration: none;
    margin-left: 15px;
}
.nav-item:hover{
    background: #534d4d;
    color: #ffffff;
}